In [66]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/afifai/pelatihan_machinelearning/master/data/train.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [67]:
df.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

In [68]:
df.head()

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
1                   0       3    male  22.0      1      0   7.2500
2                   1       1  female  38.0      1      0  71.2833
3                   1       3  female  26.0      0      0   7.9250
4                   1       1  female  35.0      1      0  53.1000
5                   0       3    male  35.0      0      0   8.0500

In [69]:
df.info() # Data NULL di Age

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 55.7+ KB

In [70]:
from sklearn.model_selection import train_test_split

X = df.drop(['Survived'], axis = 1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=46)

In [71]:
# feature engineering
# kolom kategori : Sex
# data null : Age

# handle kolom kategori
X_train['Sex'] = X_train['Sex'].map({'female':0, 'male':1})
X_test['Sex'] = X_test['Sex'].map({'female':0, 'male':1})

C:\Users\OWNER\AppData\Local\Temp/ipykernel_23804/730249364.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Sex'] = X_train['Sex'].map({'female':0, 'male':1})
C:\Users\OWNER\AppData\Local\Temp/ipykernel_23804/730249364.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Sex'] = X_test['Sex'].map({'female':0, 'male':1})

In [72]:
X_train.info() # sex sudah menjadi data integer

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 55 to 190
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  668 non-null    int64
 1   Sex     668 non-null    int64
 2   Age     541 non-null    float64
 3   SibSp   668 non-null    int64
 4   Parch   668 non-null    int64
 5   Fare    668 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 36.5 KB

In [73]:
median_age = X_train.Age.median()
X_train.Age.fillna(median_age, inplace=True)
X_test.Age.fillna(median_age, inplace=True)

C:\Users\OWNER\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [74]:
# TRAINING
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#modelling
model = LogisticRegression()
model.fit(X_train, y_train)

# prediksi
y_pred = model.predict(X_test)

# Evaluasi
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.91      0.86       129
           1       0.86      0.72      0.79        94

    accuracy                           0.83       223
   macro avg       0.84      0.82      0.83       223
weighted avg       0.84      0.83      0.83       223