## Conditional

In [7]:
angka=46
print(angka)
print(f"{angka} lebih dari besar dari 30") 
# f berguna untuk mengubah string (angka) menjadi variabel

46
46 lebih dari besar dari 30

In [10]:
angka=26
print(f"{angka} lebih dari besar dari 30") 
# f berguna untuk mengubah string (angka) menjadi variabel
# angka tidak sesuai dengan pengertian maka dibutuhkan kondisi
'''if <kondisi>:
    dibutuhkan identasi'''

26 lebih dari besar dari 30

'if <kondisi>:\n    #dibutuhkan identasi'

In [15]:
True #penulisan bolean

True

In [14]:
False # penulisan bolean

False

In [20]:
angka = 29
if False:
    print(f"{angka} lebih dari besar dari 30")

In [22]:
35>30

True

In [24]:
angka = 35
if angka>30:
    print(f"{angka} lebih dari besar dari 30")

35 lebih dari besar dari 30

In [27]:
angka = 15
if angka>30:
    print(f"{angka} lebih dari besar dari 30")
else:
    print(f"{angka} lebih kecil dari 30")

15 lebih kecil dari 30

In [39]:
angka = 15
if angka%2 == 0: #angka yang dibagi dengan 2 modulus akan menjadi 0
    print("ganjil")
else:
    print ("genap")

genap

In [40]:
bahasa_pemrogaman = ["python","java","javascript","golang"]
bahasa = "html"

if bahasa in bahasa_pemrogaman:
    print (f"{bahasa} ada dalama list bahasa_pemrogaman")
else:
    print (f"{bahasa} tidak ada dalam list bahasa_pemrogaman")

html tidak ada dalam list bahasa_pemrogaman

In [38]:
angka = 30
if angka>30:
    print(f"{angka} lebih dari besar dari 30")
elif angka == 30: #elif adalah conditional yang ditambahkan diantara if dan else
    print(f"{angka} sama dengan 30")
else:
    print(f"{angka} lebih kecil dari 30")

30 sama dengan 30

In [44]:
#Conditional menggunakan dictionaries
biodata = {'nama':'Fadhil','pekerjaan':'pelajar', 'usia':22}
'usia' in biodata
'Fadhil' in biodata.values() #untuk mengecek values atau isi

True

In [52]:
angka = 10
if angka%2 == 0: #angka yang dibagi dengan 2 modulus = 0
    print("genap")
    if angka > 10: #Nested if atau if didalam if
        print(f"{angka} lebih besar dari 10")
    elif angka == 10:
        print(f"{angka} sama dengan 10")
    else:
        print(f"{angka} lebih kecil dari 10")
else:
    print ("ganjil")

genap
10 sama dengan 10

In [69]:
# [85 - 100] : A
# [70 - 85) : B
# [50 - 70) : C
# [25 - 50) : D
# [0 - 25) : E
angka = 0.2
if 85 <= angka <= 100:
    print ("A")
elif 70 <= angka <85:
    print ("B")
elif 50 <= angka <70:
    print ("C")
elif 25 <= angka <50:
    print ("D")
elif 0 <= angka <25:
    print ("E")
else:
    print ("Nilai tidak valid")

# Masalah ini bisa diselesaikan dengan nested if juga

E

In [70]:
list(range(85, 100)) #menggunakan range tidak bisa untuk untuk angka decimal

[85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

## Looping

In [71]:
# while <kondisi> dapat menghasilkan True sehingga menjadi infinite loop
# pastikan <kondisi> tersebut dapat menjadi false saat menggunakan while loop
# harus meng-update <kondisi>
angka = 1

In [74]:
angka = angka + 1
print (angka)

4

In [81]:
i = 0
while i < 5:
    print (f"i={i}, dalam while loop")
    i = i + 1 #update terakhir

i=0, dalam while loop
i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop

In [82]:
i = 0
while i < 5:
    i = i + 1 #update sebelum di print
    print (f"i={i}, dalam while loop")

i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop
i=5, dalam while loop

In [83]:
#studi kasus (perkalian 7)
i = 1
while i <= 10:
    print (f"7 x {i} = {7*i}")
    i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [90]:
# nested loop (tabel perkalian)
i = 1
j = 1
while j <= 10:
    i=1
    while i <= 10:
        print (f"{j} x {i} = {j*i}")
        i = i + 1
    print ("*"*50)
    j = j + 1
    i = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [95]:
# break
i = 0
while i <= 10:
    i = i + 1
    if i == 5: # angka 5 di skip
        continue
    print (f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

In [98]:
# For Loop
# for data majemuk yaitu : list dan tuple kadang dictionary
buah = ["pepaya", "mangga", "pisang", "jambu"]
for b in buah: #seperti absen jadi dia ber-urutan
    print (f"{b} adalah item dalam list buah")

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [102]:
#menggunakan while loop
i = 0
buah = ["pepaya", "mangga", "pisang", "jambu","apel"]
while i < len(buah):
    print (f"{buah[i]} adalah item dalam list buah")
    i = i + 1

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah
apel adalah item dalam list buah

In [106]:
for i in range(len(buah)):
    print (f"{buah[i]} adalah item dalam list buah")

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah
apel adalah item dalam list buah

In [108]:
#tabel perkalian dengan for loop (perkalian 7)
for i in range(1, 11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [113]:
for j in range(1,11):
    for i in range(1, 11):
        print(f"{j}x{i}={i*j}")
print("*"*50)

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100
**************************************************